* {
  font-size: unset; 
  line-height: unset;
}

body {
  max-width:none;
  padding: 0;
}

input[type] {
  margin-bottom: 0;
}

button {
  border: 0;
}
button.get {
  background-color: #61affe;
}
button.post {
  background-color: #49cc90;
}
button.put {
  background-color: #fca130;
}
button.delete {
  background-color: #f93e3e;
}
button.active {
  background-color: #e008ce;
}